 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Main page */
html, body {
  height: 100%;
  background-color: #f3eee2;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: left;
  border-top: 7px solid #782F40;
}

.container a {
  color: #782F40;
  text-decoration: none;
}

.container a:hover {
  color: #CEB888;
}

.panel h4 a,
h5 a {
  color: #782F40;
}

.panel h4 a:hover,
h5 a:hover {
  color: #CEB888;
}

.footer {
  border-bottom: 10px solid #782F40;
  padding: 20px 0;
  text-decoration: none !important;
}